* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
	variable utilizada por varias etiquetas
*/
$heightHeader: 90px;

/*
    section_name: contenedor definido para implementar
    margin o padding con el fin de separar las secciones
    entre si, en este caso implementamos fixed y sus 
	propiedades top, left right y z-index para fijar y 
	posicionar la seccion
*/
.section_header {
	background-color: #4285f4;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	height: $heightHeader;
	align-items: center;
	transition: all 0.3s ease-in;

	/*
		js_scroll_navbar: clase añadida con javascript 
		que reduce el height de section_header 
		generando con esto el efecto scroll
	*/
	&.js_scroll_navbar {
		height: 70px;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
	}

	/*
        container_name: contenedor definido para manejar
        el responsive implementando width
    */
	.container_header {
		width: 90%;
		margin: 0 auto;
		// background-color: mediumslateblue;

		/*
            flexbox_header: definimos flexbox y su propiedad
			justify-content, para generar un espaciado entre
			los elementos que este contiene
        */
		.flexbox_header {
			display: flex;
			justify-content: space-around;
			// background-color: yellow;

			/*
				box_nitlogo: aqui iria el nit o logo y 
				el icon menu burger
			*/
			.box_nitlogo {
				width: 25px;
				height: 25px;
				background-color: mediumseagreen;
			}

			/*
				navbar_ul: aqui iria el menu de navegacion
			*/
			.box_navbar {
				width: 25px;
				height: 25px;
				background-color: crimson;
			}
		}
	}
}

/*
	seccion de ejemplo
*/
.section_banner {
	background-color: #e4e0e0;
	width: 100%;
	margin-top: $heightHeader;
	
	p {
		text-align: center;
		color: #333;
		font-size: 50px;
		padding: 100px 0;
	}
}
